.game-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

td {
    border: 1px solid black;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
